<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SEGUIMIENTO TICKET</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style media="screen">
    .results tr[visible='false'],
    .no-result {
      display: none;
    }

    .results tr[visible='true'] {
      display: table-row;
    }

    .counter {
      padding: 8px;
      color: #de1b1b;
    }
  </style>
  {% extends "librerias.html" %}
</head>

<body>

  {% block content %}
  <!-- .......-CABECERA-....... -->
  <ul style="padding: 17px;filter:alpha(opacity=50); opacity:0.9;">
    <li class="ancho_barra"><a class="navbar-brand" href="{{url_for('inicio')}}"><i class="fas fa-home"
        style="font-size:30px;color:rgb(236, 101, 14)"></i> SEGUIMIENTO TICKET</a>
      </li>
    <form action="/logout" method="POST">
      <button style="float:right" type="submit" class="btn btn-danger btn-lg">Salir</button>
      <a style="float:right" class="navbar-brand">{{usuario}}</a>
      <i class="far fa-user-circle" style="font-size:30px;float:right;padding: 5px;color:rgb(236, 101, 14)"></i>
      <a style="float:right" class="navbar-brand">{{compania}}</a>
      <i class="fas fa-university" style="font-size:30px;float:right;padding: 5px;color:rgb(236, 101, 14)"></i>
    </form><br>
  </ul>

  <!-- .......-CABECERA-....... -->

  {% with messages = get_flashed_messages(with_categories=true) %}a
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    <span>{{ message }}</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}



  <div class="jumbotron jumbotron-fluid" style="padding-top: 14px ;padding-bottom: 5px;filter:alpha(opacity=50); opacity:0.9;">
    <div class="container">
      <form action="/consultar" method="POST">
        <div class="form-row">
          <div class="form-group col-md-2">

          </div>

          <div class="form-group col-md-3">
            <label for="inputnombre">Selecciona Rango de Fecha: </label>
            <div class="input-group date" data-target-input="nearest">
              <input type="text" name="fecha" value="{{ayer}}" />
            </div>
            <script type="text/javascript">
              $(function() {
                $('input[name="fecha"]').daterangepicker({
                  opens: 'left',
                  maxDate: new Date(),
                  "locale": {
                    "format": "DD/MM/YYYY",
                    "separator": " - ",
                    "applyLabel": "Aplicar",
                    "cancelLabel": "Cancelar",
                    "fromLabel": "De",
                    "toLabel": "Até",
                    "customRangeLabel": "Custom",
                    "daysOfWeek": [
                      "Dom",
                      "Lun",
                      "Mar",
                      "Mie",
                      "Jue",
                      "Vie",
                      "Sáb"
                    ],
                    "monthNames": [
                      "Enero",
                      "Febrero",
                      "Marzo",
                      "Abril",
                      "Mayo",
                      "Junio",
                      "Julio",
                      "Agosto",
                      "Setiembre",
                      "Octubre",
                      "Noviembre",
                      "Diciembre"
                    ],
                    "firstDay": 0
                  }
                }, function(start, end, label) {
                  console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                });
              });
            </script>

          </div>
          <div class="form-group col-md-1"></div>
          <div class="form-group col-md-3">
            <br>
            <button type="submit" class="btn btn-warning ">Consultar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-warning " data-toggle="modal" data-target="#myModal">Registrar</button>
      </form>
    </div>
  </div>
  </div>
  </div>

  <!-- INICIO INSERTAR REGISTROS  -->

  <form action="/insertar" method="POST">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <div class="modal-body">
            <!-- INICIO FORMULARIO INSERTAR -->
            <div class="form-group row">
              <label for="inputpaso3" class="col-sm-3 col-form-label">Fecha Inicio Evento</label>
              <div class="col-sm-9">
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                  <input type='text' class="form-control" name="fecha_inicio_evento" required data-date-format="YYYY-MM-DD HH:mm" oninvalid="setCustomValidity('El campo Fecha de Inicio Evento es obligatorio')" oninput="setCustomValidity('')"
                    style="background-color: #fff5eb;" />
                  <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                  </div>
                </div>
              </div>
            </div>

            <script type="text/javascript">
              $(function() {
                $('#datetimepicker1').datetimepicker({
                  locale: 'es',
                  format: 'YYYY-MM-DD HH:mm'
                });
              });
            </script>


            <div class="form-group row">

              <label for="inputpaso3" class="col-sm-3 col-form-label">Fecha Solucion</label>
              <div class="col-sm-9">
                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                  <input type='text' class="form-control" name="fecha_solucion" required data-date-format="YYYY-MM-DD HH:mm" oninvalid="setCustomValidity('El campo Fecha de Solucion es obligatorio')" oninput="setCustomValidity('')"
                    style="background-color: #fff5eb;" />
                  <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                  </div>
                </div>
              </div>
            </div>

            <script type="text/javascript">
              $(function() {
                $('#datetimepicker2').datetimepicker({
                  locale: 'es',
                  format: 'YYYY-MM-DD HH:mm'
                });
              });
            </script>

            <div class="form-group row">
              <label for="inputpaso3" class="col-sm-3 col-form-label">Fecha aviso por AtClientes</label>
              <div class="col-sm-9">
                <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                  <input type='text' class="form-control" name="fecha_aviso_clientes" required data-date-format="YYYY-MM-DD HH:mm" oninvalid="setCustomValidity('El campo Fecha Aviso Clientes es obligatorio')" oninput="setCustomValidity('')"
                    style="background-color: #fff5eb;" />
                  <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                  </div>
                </div>
              </div>
            </div>

            <script type="text/javascript">
              $(function() {
                $('#datetimepicker3').datetimepicker({
                  locale: 'es',
                  format: 'YYYY-MM-DD HH:mm'
                });
              });
            </script>

            <div class="form-group row">
              <label for="inputpaso3" class="col-sm-3 col-form-label">Monitor HostName</label>
              <div class="col-sm-9">
                <select class="selectpicker form-control" data-live-search="true" name="origen" id="origen" style="background-color: #fff5eb;">
                  {% for h_name in host_name %}
                  <option data-tokens="{{h_name.0}}">{{h_name.1}}</option>
                  {%endfor%}
                </select>
              </div>
            </div>


            <div class="form-group row">
              <label for="inputpaso3" class="col-sm-3 col-form-label"></label>
              <div class="col-sm-9">
                <input type="button" class="pasar izq form-control btn btn-warning" value="Pasar »"><br><br>
                <input type="button" class="pasar_dere der form-control btn btn-warning" value="« Quitar">
              </div>
            </div>


            <div class="form-group row">
              <label for="inputpaso3" class="col-sm-3 col-form-label"></label>
              <div class="col-sm-9">
                <select name="monitor_hostname" id="monitor_hostname" multiple="multiple" size="8" class="form-control" style="background-color: #fff5eb;">

                </select>
              </div>
            </div>

            <script type="text/javascript">
              $().ready(function() {
                $('.pasar').click(function() {
                  return !$('#origen option:selected').remove().appendTo('#monitor_hostname');
                });
                $('.pasar_dere').click(function() {
                  return !$('#monitor_hostname option:selected').remove().appendTo('#origen');
                });
              });
            </script>

            <div class="form-group row">
              <label for="inputobservacion3" class="col-sm-3 col-form-label">Problema</label>
              <div class="col-sm-9">
                <textarea name="problema" id="problema" rows="5" cols="35" required oninvalid="setCustomValidity('El campo Problema es obligatorio')" oninput="setCustomValidity('')" style="background-color: #fff5eb;" /></textarea>
              </div>
            </div>

            <div class="form-group row">
              <label for="inputobservacion3" class="col-sm-3 col-form-label">Problema Generado</label>
              <div class="col-sm-9">
                <textarea name="problema_genera" id="problema_genera" rows="5" cols="35" required oninvalid="setCustomValidity('El campo Problema Generado es obligatorio')" oninput="setCustomValidity('')"
                  style="background-color: #fff5eb;" /></textarea>
              </div>
            </div>


            <div class="form-group row">
              <label for="inputobservacion3" class="col-sm-3 col-form-label">Solucion</label>
              <div class="col-sm-9">
                <textarea name="solucion" id="solucion" rows="5" cols="35" required oninvalid="setCustomValidity('El campo Solucion es obligatorio')" oninput="setCustomValidity('')" style="background-color: #fff5eb;" /></textarea>
              </div>
            </div>


            <div class="form-group row">
              <label for="inputpaso3" class="col-sm-3 col-form-label">Culpable</label>
              <div class="col-sm-9">
                <select class="selectpicker form-control" data-live-search="true" name="culpable" id="culpable" style="background-color: #fff5eb;">
                  <option value="atentus">Atentus</option>
                  <option value="otro">Otro</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-5"></div>
              <div class="col-sm-2">
                <button type="submit" class="btn btn-success">Guardar</button>
              </div>
              <div class="col-sm-5"></div>
            </div>
  </form>
  <!-- TERMINO FORMULARIO INSERTAR -->
  </div>
  <div class="modal-footer"> </div>
  </div>
  </div>
  </div>
  <!-- ENDModal -->

  <!-- FIN INSERTAR REGISTROS  -->

  <div class="jumbotron jumbotron-fluid" style="padding-top: 14px ;padding-bottom: 5px; padding: 5px;">
    <div class="form-group pull-right" style="width:15%">
      <input type="text" class="search form-control" placeholder="Buscar">
    </div>
    <span class="counter pull-right"></span>
    <br>

    <table id="tabla_principal" class="table table-hover table-bordered results" style="width:100%; text-align: center;">
      <thead style="background-color:rgb(236, 101, 14)">
        <tr>
          <td scope="col">
            <b>
              <p style="color:#f0f0f0;size:14px">Acción</p>
            </b>
          </td>
          <td scope="col">
            <b>
              <p style="color:#f0f0f0;">Estado</p>
            </b>
          </td>
          <td scope="col">
            <b>
              <p style="color:#f0f0f0;">Fecha Inicio Evento</p>
            </b>
          </td>
          <td scope="col">
            <b>
              <p style="color:#f0f0f0;">Fecha Solucion</p>
            </b>
          </td>
          <td scope="col">
            <b>
              <p style="color:#f0f0f0;">Fecha Aviso Clientes</p>
            </b>
          </td>
          <td scope="col">
            <b>
              <p style="color:#f0f0f0;">Monitor Hostname</p>
            </b>
          </td>
          <td scope="col">
            <b>
              <p style="color:#f0f0f0;">Clientes Afectado</p>
            </b>
          </td>
          <td scope="col">
            <b>
              <p style="color:#f0f0f0;">N° Clientes Afectado</p>
            </b>
          </td>
          <td scope="col">
            <b>
              <p style="color:#f0f0f0;">Problema</p>
            </b>
          </td>
          <td scope="col">
            <b>
              <p style="color:#f0f0f0;">Problema Generado</p>
            </b>
          </td>
          <td scope="col" style="width: 250px;text-align:left">
            <b>
              <p style="color:#f0f0f0;">Solucion</p>
            </b>
          </td>
          <td scope="col">
            <b>
              <p style="color:#f0f0f0;">Culpable</p>
            </b>
          </td>
          <td scope="col">
            <b>
              <p style="color:#f0f0f0;">Creado por</p>
            </b>
          </td>
          <td scope="col">
            <b>
              <p style="color:#f0f0f0;">Modificado por</p>
            </b>
          </td>

        </tr>

      </thead>
      {% for datos in data%}
      <tbody>

        <tr style="width:100%">
          <td>
            <a href="/actualizar/{{datos["id"]}}" class="btn btn-warning" data-toggle="modal" data-target="#myModal2{{datos["id"]}}">
              <span class="far fa-edit x" data-toggle="tooltip" title="Modificar"></span>
            </a>
            <script>
              $(document).ready(function() {
                $('[data-toggle="tooltip"]').tooltip();
              });
            </script>

            <!-- Modal -->
            <div class="modal fade" id="myModal2{{datos["id"]}}" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>


                  </div>
                  <div class="modal-body">

                    <!-- INICIO FORMULARIO ACTUALIZA -->
                    <form action="{{ url_for('actualizar') }}" method="POST">


                      <div class="form-group row">
                        <label for="inputobjetivo3" class="col-sm-3 col-form-label">Fecha Inicio Evento</label>
                        <div class="col-sm-9">
                          <input type="hidden" class="form-control" name="id" value="{{datos["id"]}}">
                          <input type="text" class="form-control" name="fecha_inicio_evento" disabled value="{{datos["beginDate"]}}" style="background-color: #fff5eb;">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="inputobjetivo3" class="col-sm-3 col-form-label">Fecha Solucion</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="fecha_solucion" value="{{datos["solutionDate"]}}">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="inputobjetivo3" class="col-sm-3 col-form-label">Fecha aviso de AtClientes</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="fecha_aviso_clientes" value="{{datos["fechAvisoCli"]}}">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="inputobjetivo3" class="col-sm-3 col-form-label">Monitor Hostname</label>
                        <div class="col-sm-9">

                          <textarea name="monitor_hostname" rows="4" cols="35" required disabled oninvalid="setCustomValidity('El campo Problema es obligatorio')" oninput="setCustomValidity('')"
                            style="background-color: #fff5eb;">{{datos["monitor"]}}</textarea>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="inputobjetivo3" class="col-sm-3 col-form-label">Clientes</label>
                        <div class="col-sm-9">

                          {% if datos["clients"] == '' %}
                          <textarea name="clientes" rows="4" cols="35" required disabled oninvalid="setCustomValidity('El campo Problema es obligatorio')" oninput="setCustomValidity('')" style="background-color: #fff5eb;">SIN CLIENTES</textarea>
                          {%else%}
                          <textarea name="clientes" rows="4" cols="35" required disabled oninvalid="setCustomValidity('El campo Problema es obligatorio')" oninput="setCustomValidity('')"
                            style="background-color: #fff5eb;">{{datos["clients"]}}</textarea>
                          {%endif%}
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="inputobservacion3" class="col-sm-3 col-form-label">Problema</label>
                        <div class="col-sm-9">
                          <textarea name="problema" rows="4" cols="35" required oninvalid="setCustomValidity('El campo Problema es obligatorio')" oninput="setCustomValidity('')">{{datos.problem}}</textarea>

                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="inputobservacion3" class="col-sm-3 col-form-label">Problema Generado</label>
                        <div class="col-sm-9">
                          <textarea name="problema_genera" rows="4" cols="35" required oninvalid="setCustomValidity('El campo Problema Generado es obligatorio')" oninput="setCustomValidity('')">{{datos.generateProblem}}</textarea>

                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="inputobservacion3" class="col-sm-3 col-form-label">Solución</label>
                        <div class="col-sm-9">
                          <textarea name="solucion" rows="4" cols="35" required oninvalid="setCustomValidity('El campo Solución es obligatorio')" oninput="setCustomValidity('')">{{datos.solution}}</textarea>

                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="inputobjetivo3" class="col-sm-3 col-form-label">Culpable</label>
                        <div class="col-sm-9">
                          <select class="form-control" name="culpable">
                            {% if datos.culpable  == 'atentus' %}
                            <option value="atentus">Atentus</option>
                            <option value="otro">Otro</option>
                            {%else%}
                            <option value="otro">Otro</option>
                            <option value="atentus">Atentus</option>
                            {%endif%}
                          </select>

                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="input3" class="col-sm-3 col-form-label">Activo</label>
                        <div class="col-sm-9">
                          <select class="form-control" name="estado">
                            {% if datos.status  == True %}
                            <option value="t">Habilitado</option>
                            <option value="f">Deshabilitado</option>
                            {%else%}
                            <option value="f">Deshabilitado</option>
                            <option value="t">Habilitado</option>
                            {%endif%}
                          </select>
                        </div>
                      </div>



                      <div class="form-group row">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-2">
                          <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                        <div class="col-sm-5"></div>
                      </div>
                    </form>
                    <!-- TERMINO FORMULARIO ACTUALIZA -->
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
            <!-- ENDModal -->
          </td>


          {% if datos["status"] == True %}
          <th><span class="far fa-check-circle text-success fa-2x"></span></th>
          {%else%}
          <th><span class="far fa-times-circle  text-danger fa-2x"></span></th>
          {%endif%}
          <td>{{datos["beginDate"]}}</td>
          <td>{{datos["solutionDate"]}}</td>
          <td>{{datos["fechAvisoCli"]}}</td>
          <td>{{datos["monitor"] | truncate(30) }}</td>
          {% if datos["clients"] == '' %}
          <td>SIN CLIENTES</td>
          {%else%}
          <td><span style="text-overflow: clip;" alt="{{datos["clients"]}}" title="{{datos["clients"]}}">{{datos["clients"] | truncate(50)}}</span></td>
          {%endif%}
          <td>{{datos.qcliente}}</td>
          <td><span style="text-overflow: clip;text-align:justify" alt="{{datos["problem"]}}" title="{{datos["problem"]}}">{{datos["problem"] | truncate(50)}}</span></td>
          <td><span style="text-overflow: clip;text-align:justify" alt="{{datos["generateProblem"]}}" title="{{datos["generateProblem"]}}">{{datos["generateProblem"] | truncate(50)}}</span></td>
          <td style="width: 250px;text-align:justify">{{datos["solution"]}}</td>
          <td>{{datos["culpable"]}}</td>
          {% if datos["usuario_nombre_insert"] == None %}
          <td>Sin Regtistro</td>
          {%else%}
          <td>{{datos["usuario_nombre_insert"]}}</td>
          {%endif%}

          {% if datos["usuario_nombre_update"] == None %}
          <td>Sin Regtistro</td>
          {%else%}
          <td>{{datos["usuario_nombre_update"]}}</td>
          {%endif%}

        </tr>
      </tbody>

      {% endfor %}
      <script type="text/javascript">
        $(document).ready(function() {
          $('#tabla_principal').DataTable({
            "scrollY": 500,
            "scrollX": true,
            "paging": false,
            "ordering": false,
            "info": false,
            "searching": false,
            "language": {
              "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            }
          });
        });
      </script>

      <script type="text/javascript">
        $(document).ready(function() {
          $(".search").keyup(function() {
            var searchTerm = $(".search").val();
            var listItem = $('.results tbody').children('tr');
            var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

            $.extend($.expr[':'], {
              'containsi': function(elem, i, match, array) {
                return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
              }
            });

            $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e) {
              $(this).attr('visible', 'false');
            });

            $(".results tbody tr:containsi('" + searchSplit + "')").each(function(e) {
              $(this).attr('visible', 'true');
            });

            var jobCount = $('.results tbody tr[visible="true"]').length;
            $('.counter').text(jobCount + ' Registros');

            if (jobCount == '0') {
              $('.no-result').show();
            } else {
              $('.no-result').hide();
            }
          });
        });
      </script>

    </table>


    <!-- The Modal -->
    <div class="modal fade" id="myModalTabla">
      <div class="modal-dialog modal-lg" style="max-width: 1000px;">
        <div class="modal-content">
          <!-- Modal body -->
          <div class="modal-body">
            <div class="table-responsive" style="overflow:scroll;height:500px;">
              <table class="table table-bordered" id="tabla">
                <thead style="background-color:rgb(236, 101, 14)">
                  <tr>
                    <td scope="col">
                      <b>
                        <p style="color:#f0f0f0;">Estado</p>
                      </b>
                    </td>
                    <td scope="col">
                      <b>
                        <p style="color:#f0f0f0;">Fecha Inicio Evento</p>
                      </b>
                    </td>
                    <td scope="col">
                      <b>
                        <p style="color:#f0f0f0;">Fecha Solución</p>
                      </b>
                    </td>
                    <td scope="col">
                      <b>
                        <p style="color:#f0f0f0;">Fecha Aviso Clientes</p>
                      </b>
                    </td>
                    <td scope="col">
                      <b>
                        <p style="color:#f0f0f0;">Monitor Hostname</p>
                      </b>
                    </td>
                    <td scope="col">
                      <b>
                        <p style="color:#f0f0f0;">Clientes Afectado</p>
                      </b>
                    </td>
                    <td scope="col">
                      <b>
                        <p style="color:#f0f0f0;">N° Clientes Afectado</p>
                      </b>
                    </td>
                    <td scope="col">
                      <b>
                        <p style="color:#f0f0f0;">Problema</p>
                      </b>
                    </td>
                    <td scope="col">
                      <b>
                        <p style="color:#f0f0f0;">Problema Generado</p>
                      </b>
                    </td>
                    <td scope="col">
                      <b>
                        <p style="color:#f0f0f0;">Solución</p>
                      </b>
                    </td>
                    <td scope="col">
                      <b>
                        <p style="color:#f0f0f0;">Culpable</p>
                      </b>
                    </td>
                    <td scope="col">
                      <b>
                        <p style="color:#f0f0f0;">Creado por</p>
                      </b>
                    </td>
                    <td scope="col">
                      <b>
                        <p style="color:#f0f0f0;">Modificado por</p>
                      </b>
                    </td>

                  </tr>

                </thead>
                {% for datos in data%}
                <tbody>
                  <tr style="width:100%">
                    {% if datos["status"] == True %}
                    <th>Habilitado</th>
                    {%else%}
                    <th>Deshabilitado</th>
                    {%endif%}
                    <td>{{datos["beginDate"]}}</td>
                    <td>{{datos["solutionDate"]}}</td>
                    <td>{{datos["fechAvisoCli"]}}</td>
                    <td>{{datos["monitor"]}}</td>
                    {% if datos["clients"] == '' %}
                    <td>SIN CLIENTES</td>
                    {%else%}
                    <td>{{datos["clients"]}}</td>
                    {%endif%}
                    <td>{{datos.qcliente}}</td>
                    <td>{{datos["problem"]}}</td>
                    <td>{{datos["generateProblem"]}}</td>
                    <td>{{datos["solution"]}}</td>
                    <td>{{datos["culpable"]}}</td>
                    {% if datos["usuario_nombre_insert"] == None %}
                    <td>Sin Regtistro</td>
                    {%else%}
                    <td>{{datos["usuario_nombre_insert"]}}</td>
                    {%endif%}

                    {% if datos["usuario_nombre_update"] == None %}
                    <td>Sin Regtistro</td>
                    {%else%}
                    <td>{{datos["usuario_nombre_update"]}}</td>
                    {%endif%}
                  </tr>
                </tbody>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        function ExportToExcel(tabla) {
          var clone = tabla.clone();
          var trs = clone.find('tr');
          $.each(trs, function(i, tr) {
            $(tr).find('td:eq(0)').remove();
          });
          var htmlExport = clone.prop('outerHTML');
          var ua = window.navigator.userAgent;
          var msie = ua.indexOf("MSIE ");

          if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
            jQuery('body').append("<iframe id=\"iframeExport\" style=\"display:none\"></iframe>");
            iframeExport.document.open("txt/html", "replace");
            iframeExport.document.write(htmlExport);
            iframeExport.document.close();
            iframeExport.focus();
            sa = iframeExport.document.execCommand("SaveAs", true, "List.xls");
          } else {
            var link = document.createElement('a');

            document.body.appendChild(link); // Firefox requires the link to be in the body
            link.download = "List.xls";
            link.href = 'data:application/vnd.ms-excel,' + escape(htmlExport);
            link.click();
            document.body.removeChild(link);
          }
        }
      </script>
      <script type="text/javascript">
        $(function() {
          $('#myModalTabla').on('show.bs.modal', function() {
            var myModal = $(this);
            clearTimeout(myModalTabla.data('hideInterval'));
            myModalTabla.data('hideInterval', setTimeout(function() {
              myModalTabla.modal('hide');
            }, 1000));
          });
        });
      </script>
    </div>



  </div>


  {% endblock %}
</body>
